
# mac files that pop up all the time
*.DS_Store
.DS_Store

# github junk
raw.githubusercontent.com/

# pycache junk
src/__pycache__/

# some stuff we aren't ready for
notebooks/bayesball.ipynb

# some temporary data products
data/Aggregate/Summaries/*limit*